<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <remove name="PHP_via_FastCGI1" />
            <remove name="PHP54_via_FastCGI" />
            <remove name="PHP55_via_FastCGI" />
            <remove name="PHP_via_FastCGI2" />
            <remove name="Sites" />
            <remove name="PHP_via_FastCGI3" />
            <remove name="PHP_via_FastCGI7" />
            <remove name="PHP_via_FastCGI4" />
            <remove name="PHP55_via_FastCGI1" />
            <remove name="PHP_via_FastCGI21" />
            <remove name="PHP_via_FastCGI22" />
            <remove name="PHP_via_FastCGI5" />
            <remove name="PHP_via_FastCGI16" />
            <remove name="PHP_via_FastCGI6" />
            <remove name="PHP_via_FastCGI10" />
            <remove name="PHP_via_FastCGI18" />
            <remove name="PHP_via_FastCGI19" />
            <remove name="PHP_via_FastCGI9" />
            <remove name="PHP_via_FastCGI17" />
            <remove name="PHP_via_FastCGI15" />
            <remove name="PHP_via_FastCGI14" />
            <remove name="PHP_via_FastCGI11" />
            <remove name="PHP_via_FastCGI8" />
            <remove name="PHP_via_FastCGI12" />
            <remove name="PHP_via_FastCGI13" />
            <remove name="PHP_via_FastCGI20" />
            <remove name="PHP_via_FastCGI23" />
            <add name="Rai" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v7.4\php-cgi.exe" resourceType="File" />
        </handlers>
        <caching>
            <profiles>
                <remove extension=".php" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
